

/*=====GLASS STYLE=====*/

.glass-white {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}
.glass-black {
    background: rgba(0, 0, 0 ,0.25);
    backdrop-filter: blur(5px);
}
.glass-lightgreen {
    background: rgba(144, 238, 144, 0.25);
    backdrop-filter: blur(5px);
}

/*=====PANEL STYLE=====*/
.panel-side {
    width: 20%;
    height: 370px;
    position: fixed;
    right: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s ease;
    z-index: 2;
}
.panel-side:hover :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
}
.flex-h {
    display: flex;
    justify-content: space-between;
}
.flex-v {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.item-panel {
    width: 50%;
    height: 10%;
    position: relative;
    left: 10%;
    font-size: 70%;
    color: yellow;
    text-align: center;
    align-content: center;
    border-radius: 25% 10%;
    background-color: #6b00d7;
    box-shadow: 0 0 15px 1px blue;
    transition: 1s;
}
.item-panel:hover {
    border-radius: 10% 25%;
    box-shadow: 0 0 15px 1px #6b00d7;
    background-color: blue;
    transition: 1s;
}

/*=====UMUM OTHER=====*/

.ave {
    background-image: url('AVE.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    position: fixed;
    border-radius: 50%;
    right: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 2;
}